In [10]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm

In [4]:
file = 'green_tripdata_2025-11.parquet'
df = pd.read_parquet(file)

(46912, 21)

In [9]:
# load 2025-11 taxi trips
# connect to postgres
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
# print the schema
print(pd.io.sql.get_schema(df, name='taxi_data_2025_11', con=engine))

CREATE TABLE taxi_data_2025_11 (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [16]:
table_name = 'taxi_data_2025_11'
df = pd.read_parquet(file)
# create the table
df.to_sql(name=table_name, con=engine, if_exists='replace')

912

In [17]:
taxi_zone_lkp_file = 'taxi_zone_lookup.csv'
df_zones = pd.read_csv(taxi_zone_lkp_file)
df_zones.head()
#df_lkp = pd.read_csv(taxi_zone_lkp, con=engine, if_exists='replace')

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [18]:
df_zones.shape

(265, 4)

In [19]:
df_zones.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [21]:
zone_dtypes = {
    'LocationID': 'Int64',
    'Borough': 'string',
    'Zone': 'string',
    'service_zone': 'string'
}
df_zones = pd.read_csv(taxi_zone_lkp_file, dtype=zone_dtypes)

In [22]:
zones_lkp_table = 'taxi_zones_lkp'
df_zones.to_sql(name=zones_lkp_table, con=engine, if_exists='replace')

265